DEBUG=true
PORT=8080

MONGODB_URI=mongodb://admin:password@localhost:27017/fundusnap?authSource=admin

JWT_ACCESS_SECRET=
JWT_ACCESS_SECRET_DEFAULT_EXPIRE=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_SECRET_DEFAULT_EXPIRE=30d

EMAIL_HOST=
EMAIL_PORT=465
EMAIL_SSL=true
EMAIL_USER=
EMAIL_PASS=

AZURE_VISION_ENDPOINT=
AZURE_PREDICTION_KEY=

AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=

OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_API_KEY=
OPENROUTER_API_MODEL=microsoft/mai-ds-r1:free